/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom styles */

nav {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
}

.container {
	vertical-align: middle;
}

nav img {
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
	height: auto;
	width: 150px;
	padding-top: 15px;
}


.create {
  background-color: #DFD3B7;
}

.create h1 {
  color: #A03037;
  font-family: 'Bitter-Bold', serif;
  font-size: 60px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 120px;
}

.create h3 {
	font-family: 'Lora-Italic', serif;
	font-size: 20px;
	padding-bottom: 30px;
	margin: 0 120px;
  font-style: italic;
}

.create-account {
  margin-top: 50px;
}

.create-account h4 {
  font-family: 'Bitter', serif;
  font-size: 40px;
  color: #000;
  padding-left: 110px;
	margin-left: 12px;
}

.create-account p {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #000;
  padding-left: 110px;
  padding-right: 110px;
	margin-left: 12px;
}

.container {
	margin: 20px;
}

.boxes {
  margin-left: 26px;
  padding-bottom: 120px;
}

.boxes p3 {
  font-size: 20px;
	margin-left: 50px;
}

.checks p3 {
	font-size: 20px;
	margin-left: 50px;
}

.allergies p3 {
	font-size: 20px;
	margin-left: 50px;
}

.activity p3 {
	font-size: 20px;
	margin-left: 110px;
}

.create-accounts {
  margin-top: 50px;
}

.create-accounts h4 {
  font-family: 'Bitter', serif;
  font-size: 40px;
  color: #000;
  padding-left: 110px;
	margin-left: 12px;
}

.create-accounts p {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #000;
  padding-left: 110px;
  padding-right: 110px;
	margin-left: 12px;
	margin-bottom: 34px;
}

input[type=radio] {
	margin: 20px 20px 10px;
}

input[type=checkbox] {
  margin: 20px 20px 10px;
}

.pet {
  margin-left: 96px;
  padding-bottom: 120px;
}

.pet p2 {
  margin-top: 40px;
}
